.wrapAll{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.wrapMap{
  box-shadow: 0px 3px 20px #09090982;
  width: 700px;
  height: 400px;
  border: 1.7px solid;
  border-radius: 20px;
}

@media (width <= 1000px){
  .wrapMap{
  box-shadow: 0px 3px 20px #09090982;
  width: 95%;
  height: 90vh;
  border: 1.7px solid;
  border-radius: 8px;
}
}